@charset "UTF-8";

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, [role="main"] {
  margin: 0;
  padding: 0;
}

html {
  color: black;
  font-size: 100%;
  line-height: 1.4;
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  font-display: swap;
  min-width: 18em;
  background-color: #EFEBE6;
  overflow-wrap: break-word;
}

body {
  background-color: white;
}

a, a:visited {
  color: #2f2926;
}

h2 {
  border-bottom: 2px solid #EFEBE6;
  outline: none;
}

h2 a {
  position: relative;
  width: 100%;
  text-decoration: none;
  color: black;
  outline: none;
}

h2 a:hover::after {
  content: '#';
  display: block;
  position: absolute;
  color: #2f2926;
  top: 0;
  right: -1.2em;
  width: 1em;
  height: 1em;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img,
svg {
  vertical-align: middle;
}

ul {
  list-style: circle;
  padding-left: 1.5em;
}
li {
  margin-bottom: 0.5em;
}
