@charset "UTF-8";

:root {
  color-scheme: light black;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, section, h1, h2, h3, table {
  margin: 0;
  padding: 0;
}

html, body {
  color: black;
  background-color: rgb(251, 247, 242);
  min-width: 20rem; /* 320px */
}

html {
  font-size: 100%;
  line-height: 1.4;
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  font-display: swap;
  font-variant-caps: small-caps;
  overflow-wrap: break-word;
}

body {
  width: 100%;
  padding: 1rem;
  margin: 0 auto;
}

a {
  color: inherit;
}

section {
  padding: 0.5rem 0;
}

table {
  width: 100%;
  border-radius: 0.3rem;
  padding: 0.3rem;
  background-color: rgb(204, 204, 204);
  font-size: 90%;
}

th {
  font-weight: bold;
  text-align: left;
  overflow-wrap: anywhere;
}
th[scope="row"] {
  font-weight: normal;
}

@media (prefers-color-scheme: dark) {
  html, body {
    color: white;
    background-color: rgb(25, 24, 24);
  }
  table {
    background-color: rgb(54, 54, 54);
  }
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img,
svg {
  vertical-align: middle;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header img {
  margin-right: 1rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 96px;
          flex: 0 0 96px;
  height: 96px;
}

@media screen and (min-width: 34rem) {
  body {
    padding: 2rem;
  }
  header img {
    margin-right: 2rem;
  }
}

@media screen and (min-width: 48rem) {
  body {
    padding: 4rem;
  }
}

@media screen and (min-width: 60rem) {
  body {
    width: 80%;
  }
}
