@charset "UTF-8";

:root {
  color-scheme: light black;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, [role="main"], h1 {
  margin: 0;
  padding: 0;
}

html {
  color: black;
  font-size: 100%;
  line-height: 1.4;
  font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  font-display: swap;
  font-variant-caps: small-caps;
  background-color: rgb(251, 247, 242);
  overflow-wrap: break-word;
  min-width: 20rem; /* 320px */
}

@media (prefers-color-scheme: dark) {
  html {
    color: white;
    background-color: rgb(25, 24, 24);
  }
}

body {
  padding: 2rem;
  margin: 0 auto;
  width: 30rem;
}


::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img,
svg {
  vertical-align: middle;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header img {
  margin-right: 2rem;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 96px;
          flex: 0 0 96px;
  height: 96px;
}

@media screen and (max-width: 34rem) {
  body {
    width: 100%;
    padding: 1rem;
  }
  header img {
    margin-right: 1rem;
  }
}
